[submodule "lib/markabe-bufexplorer"]
	path = lib/markabe-bufexplorer
	url = http://github.com/markabe/bufexplorer.git
[submodule "bundle/markabe-bufexplorer"]
	path = bundle/markabe-bufexplorer
	url = http://github.com/markabe/bufexplorer.git
[submodule "bundle/tpope-fugitive"]
	path = bundle/tpope-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/tpope-haml"]
	path = bundle/tpope-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "bundle/tpope-rails"]
	path = bundle/tpope-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/tpope-git"]
	path = bundle/tpope-git
	url = http://github.com/tpope/vim-git.git
[submodule "bundle/msanders-cocoa"]
	path = bundle/msanders-cocoa
	url = http://github.com/msanders/cocoa.vim.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/csexton-rvm"]
	path = bundle/csexton-rvm
	url = http://github.com/csexton/rvm.vim.git
[submodule "bundle/janx-vim-rubytest"]
	path = bundle/janx-vim-rubytest
	url = git://github.com/janx/vim-rubytest.git
[submodule "bundle/leshill-vim-json"]
	path = bundle/leshill-vim-json
	url = git://github.com/leshill/vim-json.git
[submodule "bundle/pangloss-vim-javascript"]
	path = bundle/pangloss-vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/yaroot-wowlua"]
	path = bundle/yaroot-wowlua
	url = git://github.com/yaroot/wowlua.vim.git
[submodule "bundle/hallison-markdown"]
	path = bundle/hallison-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "kana-textobj-user"]
	path = kana-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "nelstrom-textobj-rubyblock"]
	path = nelstrom-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "edsono-matchit"]
	path = edsono-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/grayrest-vim-coffee-script"]
	path = bundle/grayrest-vim-coffee-script
	url = git://github.com/grayrest/vim-coffee-script.git
[submodule "bundle/sjl-gundo"]
	path = bundle/sjl-gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/conqueterm/skammer-vim-css-color"]
	path = bundle/conqueterm/skammer-vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/skammer-vim-css-color"]
	path = bundle/skammer-vim-css-color
	url = git://github.com/skammer/vim-css-color.git
